
body{
cursor: pointer;
}

#logo{
    border: 2px solid rgb(174, 0, 255);

    border-radius: 50px;
}
.container{
    padding-bottom: 100px;}

.animated-item{
    color: orange;
}
.animated-item2{
    color: tomato;
}
.welcome{
    color: grey;
    font-size: 20px;
}
.myimg{
    width: 350px;
    height: 300px;
    border-radius: 100px;
}
.about-bg{
    background-color: antiquewhite;
    border-radius: 25px;

}
.middle{
   
    padding: 80px;
}

.details{
    color: rgb(26, 16, 16);
    font-size: 30px;
}
.link-btn{
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 800;
    background-color: orange;
    padding: 20px 10px;
    border-radius: 15px;
}

.link-btn:hover{
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 800;
    background-color: tomato;
    padding: 20px 10px;
    border-radius: 15px;
}
.map{
    height: 500px;
    width: 10%;
    border: 50px;
}
.h3bg{
    background-color: rgb(225, 0, 255);
    height: 50px;
    width: 400px;
    text-align: center;
   
}
.recent-projects{
    text-align: center;
    color: orange;
    font-size: px;
}
.resume-area{
    color: white;
    background-color: orange;
    border-radius: 30px;
    padding-left: 50px;
}
.resume-area:hover{
    color: white;
    background-color: blue;
}

.experiance{
    box-shadow: 10px 10px 50px black;
    border: 1px solid red;
    padding: 2500px;

   
}
.half-width{
    float: left;
    width: 50%;
    padding: 100px;
}

.experiance-text{
    text-align: center;
    color: aqua;
    padding-bottom: 50px;
}
.lorem{
    text-align: justify;
}

footer a{
text-decoration: none;
}
footer{
    text-align: center;
}